@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";

    //string ConvertirEnMayusculas(string valor)
    //{
    //    return valor.ToUpper();
    //}

    //DateTime hoy = DateTime.Now;

    //var nombres = new List<string>() { "Juan Perez", "Maria Mejia", "Carlos Lopez" };

}

@*Bloque Presentación*@
@Html.Partial("_Presentacion")

@*Bloque experiencias*@
@Html.Partial("_Experiencia")

@*Listado de Proyectos*@
<partial name="_Proyectos" model="Model.Proyectos" />


@*@if (Model.Edad >= 21)
    {
        <h5>Eres mayor de edad</h5>
    }
    else
    {
        <h5>Usted esta peor que el que no tiene 21 años</h5>
    }

    <ul>
        @foreach (var nombre in nombres)
        {
            <li>@nombre</li>

        }
    </ul>*@


@*<h2>Ejemplo 1</h2>
<div>
    Guid Transitorio: <b style="color: red;">@Model.EjemploGuid_1.Transitorio</b>
</div>
<div>
    Guid Delimitado: <b style="color: green;">@Model.EjemploGuid_1.Delimitado</b>
</div>
<div>
    Guid Unico: <b style="color: blue;">@Model.EjemploGuid_1.Unico</b>
</div>

<h2>Ejemplo 2</h2>
<div>
    Guid Transitorio: <b style="color: red;">@Model.EjemploGuid_2.Transitorio</b>
</div>
<div>
    Guid Delimitado: <b style="color: green;">@Model.EjemploGuid_2.Delimitado</b>
</div>
<div>
    Guid Unico: <b style="color: blue;">@Model.EjemploGuid_2.Unico</b>
</div>*@